{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}

{{ partial "contact-table" .Params.officer_contact }}
{{ partial "contact-table" .Params.arearep_contact }}
{{ partial "contact-table" .Params.arearep_contact2 }}
{{ partial "contact-table" .Params.standing_committees }}
{{ partial "contact-table" .Params.standing_committees2 }}
{{ partial "contact-table" .Params.standing_committees3 }}
{{ partial "contact-table" .Params.government_representatives }}
{{ partial "contact-table" .Params.government_representatives2 }}
{{ partial "contact-table" .Params.government_representatives3 }}
{{ partial "contact-table" .Params.government_representatives4 }}
{{ partial "contact-table" .Params.other }}

{{ partial "footer" . }}
